.body {
  min-height: 100vh;
}
.container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  gap: 5px;
  display: flex;
  justify-content: center;

  align-items: center;
  margin: 0;
  font-family: sans-serif;
  font-size: 46px;
  width: 35rem;
  text-align: center;
  flex-direction: row;
}
.heading svg {
  padding-top: 12px;
}

.sun-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(235, 228, 36);
}
.snow-icon {
  position: fixed;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
}
.box {
  position: relative;
  width: 35rem;
  height: 20rem;
  background: #f1ede8;
  border-radius: 6px;
}
.btn {
  /* position: absolute;
  left: 50%;
  top: 20%; */

  padding: 1rem 2rem;
  border-radius: 4px;
  border-color: none;
  cursor: pointer;
}

.data-container {
  display: flex;
  flex-direction: column;
}
.parameters {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px;
}
