body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  background: #81a9c5;
  box-sizing: border-box;
  /* overflow: hidden; */
}

:root {
  --gallery-alto: #ebebeb;
}

* {
  box-sizing: border-box;
}
